---
---

@import "solar";

$grid: (
  columns: 12,
  gutter: 2.5rem,
  container: 92vw,
  namespace: ""
);

$sm-grid: (
  columns: 12,
  gutter: 1.5rem,
  container: 92vw,
  namespace: "-sm"
);

@include gen-grid($grid);


@font-face {
  font-family: charter;
  src: url(Charter.ttf);
}

:root {
  font-size: 6px;
}

body {
  background: #FFF8E8;
  color: #636363;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;

}

#LOGO {
  margin-top: 4rem;
  width:col-width($grid,3);
}

.splash-text {
  //@include baseline(7rem,9rem,15rem);
  font-size: calc(3em + 2vw);
  font-family: charter;
  color: var(--foreground);
  font-weight: 200;
  margin-top: 38vh;
  transform: translate(0,-50%);
}

nav ul {
  list-style: none;
  text-align: right;
  font-family: "sofia-pro-soft";

  li {
    vertical-align: top;
    display: inline-block;
    @include baseline(3rem,5rem,5rem);
    margin-left: 10rem;

    &.current a { 
      color: var(--highlight)
    }

    a {
      text-decoration: none;
      color: inherit;
      color: var(--foreground)
    }
    

  }
  li:nth-of-type(3) {
    @include baseline(3rem,5rem,7rem);
  }
  li:nth-of-type(2) {
    @include baseline(3rem,5rem,9rem);
  }

  li:nth-of-type(1) {
    @include baseline(3rem,5rem,11rem);
  }
}

#loadscreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: #636363;
  color: #FFF8E8;

  .centerscreen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: charter;
    font-size: calc(2.5em + 1.9vw);
  }
}


@keyframes fade-in {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes rise {
  0% {transform: translate(0,0);}
  60% {transform: translate(0,0);}
  100% {transform: translate(0,-3rem);}
}

@keyframes fade-out {
  0% {opacity: 1; z-index: 0;}
  70% {opacity: 1; z-index: 0;}
  100% {opacity: 0; z-index: 0;}
  100% {opacity: 0; z-index: -1;}
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 4s;
}

.rise {
  animation-name: rise;
  animation-duration: 3s;
  display: inline-block;
  transform: translate(0,-3rem);
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 5s;
  opacity: 0;
  pointer-events: none;
}

#menu-close ,
#menu-button {
  display: none;
}

@media screen and (max-width: 800px) {

  @include gen-grid($sm-grid);


  .grid-sm {
    overflow-x: hidden;
  }

  #LOGO {
    margin-top: 4rem;
    width:170px;
  }

  #menu {
    position: fixed;
    z-index: 1;
    right:0;
    top: 0;
    height: 100vh;
    width: 35rem;
    margin: 0;
    padding-left: (100vw - map-get($sm-grid,container)) / 2;
    padding-top: 12rem;
    background: var(--foreground);
    text-align: left;
    transform: translate(100%, 0);
    transition: transform .6s ease;
    
    li:nth-of-type(1n) {
      display: block;
      margin-left: map-get($sm-grid, gutter);
      @include baseline(3rem,5rem,5rem);
      a {
        color: var(--background);
      }
    }
   
    &:target {
      transform: translate(0, 0);
    }
  }
  a {
    text-decoration: none;
  }

  #menu-close ,
  #menu-button {
    @include baseline(7rem,9rem,9.5rem);
    display: block;
    font-family: sans-serif;
  }

  #menu-button {
    color: var(--foreground);
  }

  #menu-close {
    color: var(--background);
    position: absolute;
    right: (100vw - map-get($sm-grid,container)) / 2;
    top: .8rem;
    margin-right: map-get($sm-grid, gutter);
  }

  nav {
    text-align: right;
  }
}

@media screen and (max-width: 1000px) {
  nav ul li {
    margin-left: 5rem;
    &:first-of-type {
      margin-left: 0;
    }
  }
}


@media screen and (max-width: 550px) {
  #loadscreen {
    display: none;
  }
}
