---
---

@import "solar";

$grid: (
  columns: 12,
  gutter: 2.5rem,
  container: 92vw,
  namespace: ""
);

$sm-grid: (
  columns: 12,
  gutter: 1.5rem,
  container: 92vw,
  namespace: "-sm"
);

.header {
  padding-top: 3rem;
}

@include gen-grid($grid);


@font-face {
  font-family: charter;
  src: url(Charter.ttf);
}

:root {
  font-size: 6px;
}

body {
  background: #FFF8E8;
  color: #636363;
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;

}

#LOGO {
  margin-top: 4rem;
  width:col-width($grid,3);
}

.splash-text {
  //@include baseline(7rem,9rem,15rem);
  font-size: calc(3em + 2vw);
  line-height: 9 / 7 * 1em;
  
  font-family: charter, serif;
  color: var(--foreground);
  margin-top: 38vh;
  transform: translate(0,-50%);
}

.normal-text {
  font-size: calc((3em + 2vw) * .7);
  line-height: 9 / 6 * 1em;
  
  font-family: charter, serif;
  color: var(--foreground);
  font-weight: 200;
  margin-top: 10rem;
  a {
    text-decoration: none;
    border-bottom: 1px solid var(--highlight);
  }
  padding-bottom: 10rem;
}

nav ul {
  list-style: none;
  text-align: right;
  font-family: "sofia-pro", serif;
  font-weight: 700;

  $base: 8rem;
  $step: 2rem;

  li {
    vertical-align: top;
    display: inline-block;

    @include baseline(3rem,5rem,$base);
    margin-left: 10rem;

    &.current a { 
      color: var(--highlight)
    }

    a {
      text-decoration: none;
      color: inherit;
      color: var(--foreground)
    }
    

  }
  li:nth-of-type(3) {
    @include baseline(3rem,5rem,($base + $step));
  }
  li:nth-of-type(2) {
    @include baseline(3rem,5rem,$base + $step * 2);
  }

  li:nth-of-type(1) {
    @include baseline(3rem,5rem,$base + $step * 3);
  }
}

#loadscreen {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background: #636363;
  color: #FFF8E8;

  .centerscreen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-family: charter, serif;
    font-size: calc(1.5em + 1.9vw);
  }
}

a {
  color: var(--highlight);
}


@keyframes fade-in {
  0% {opacity: 0;}
  30% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes rise {
  0% {transform: translate(0,0);}
  60% {transform: translate(0,0);}
  100% {transform: translate(0,-.35em);}
}

@keyframes fade-out {
  0% {opacity: 1; z-index: 0;}
  70% {opacity: 1; z-index: 0;}
  100% {opacity: 0; z-index: 0;}
  100% {opacity: 0; z-index: -1;}
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 4s;
}

.rise {
  animation-name: rise;
  animation-duration: 3s;
  display: inline-block;
  transform: translate(0,-.35em);
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 5s;
  opacity: 0;
  pointer-events: none;
}

#menu-close ,
#menu-button {
  display: none;
}

@media screen and (max-width: 800px) {

  @include gen-grid($sm-grid);


  .grid-sm {
    overflow-x: hidden;
  }

  #LOGO {
    margin-top: 4rem;
    width:170px;
  }

  #menu {
    position: fixed;
    z-index: 1;
    right:0;
    top: 0;
    height: 100vh;
    width: 35rem;
    margin: 0;
    padding-left: (100vw - map-get($sm-grid,container)) / 2;
    padding-top: 12rem;
    background: var(--foreground);
    text-align: left;
    transform: translate(100%, 0);
    transition: transform .6s ease;
    
    li:nth-of-type(1n) {
      display: block;
      margin-left: map-get($sm-grid, gutter);
      @include baseline(4.5rem,10rem,5rem);
      a {
        color: var(--background);
      }
      &.current a {
        color: var(--highlight);
      }
    }
   
    &:target {
      transform: translate(0, 0);
    }
  }
  a {
    text-decoration: none;
  }

  #menu-close ,
  #menu-button {
    @include baseline(7rem,9rem,9.5rem);
    display: block;
    font-family: sans-serif;
    font-weight: 400;
  }

  #menu-button {
    color: var(--foreground);
  }

  #menu-close {
    color: var(--background);
    position: absolute;
    right: (100vw - map-get($sm-grid,container)) / 2;
    top: .8rem;
    margin-right: map-get($sm-grid, gutter);
  }

  nav {
    text-align: right;
  }
}

@media screen and (max-width: 1000px) {
  nav ul li {
    margin-left: 5rem;
    &:first-of-type {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 550px) {
  #loadscreen .rise {
    animation: none;
  }
}

@media screen and (max-width: 750px) {
  #loadscreen .rise {
    animation: nome;
    transform: translate(0,-.3em);
  }
  .header {
    padding-top: 0rem;
  }
  .normal-text {
    font-size: 3.5rem;
  }
}

input {
  appearance: none;
  background: none;
  border: none;
  border-bottom: 2px solid var(--foreground);
  border-radius: 0;
  color: var(--foreground);
  width: 100%;
  @include baseline(3rem,6rem,13rem,0rem);
  font-family: charter, serif;
  &::placeholder {
    color: var(--foreground);
  }
  &::-webkit-input-placeholder {
    color: var(--foreground);
  }
  &::-moz-placeholder { 
    color: var(--foreground);
  }
  &:-moz-placeholder {
    color: var(--foreground);
  }
  &:-ms-input-placeholder {
    color: var(--foreground);
  }
}

a.sendbutton {
  display: block;
  width: 15rem;
  text-align: center;
  font-family: "sofia-pro", serif;
  font-weight: 600;
  border-radius: 50%;
  @include baseline(4rem,14rem,18rem,7rem);
  border: 2px solid var(--foreground);
  margin-left: auto;
  margin-right: auto;
  transition: all .3s;
  color: var(--foreground);

  &:hover {
    background-color: var(--foreground);
    color: var(--background);
  }
  
}
