<html>
<head>
  <link href="style.css" rel="stylesheet">
  <link href="//use.typekit.net/xqw4tlj.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8" /> 
  <style>
    :root {
      --foreground: {{page.foreground}};
      --background: {{page.background}};
      --highlight: {{page.highlight}};
    }
    body { 
      background: {{page.background}};
    }
  </style>
</head>
<body>

<div class="grid grid-sm">
  <div class="col-3 col-sm-10">
    <a href="/">
    {% include logo.html %}
    </a>
  </div>
  <nav class="col-9 col-sm-2">
    <a href="#menu"><div id="menu-button">&#9776;</div></a>
    <ul id="menu">
      <a href="#"><div id="menu-close">&times;</div></a>

      <li class="{% if page.path == "who-we-are.html" %}current{% endif %}">
        <a href="who-we-are.html">who we are</a></li>
      <li class="{% if page.path == "what-we-do.html" %}current{% endif %}">
        <a href="what-we-do.html">what we do</a></li>
      <li class="{% if page.path == "how-we-work.html" %}current{% endif %}">
        <a href="how-we-work.html">how we work</a></li>
      <li class="{% if page.path == "engage.html" %}current{% endif %}">
        <a href="engage.html">engage</a></li>
    </ul>
  </nav>
</div>

{{content}}

{% if page.loadscreen %}
  <div id="loadscreen" class="fade-out">
    <div class="centerscreen fade-in">
      <span>This is education </span><span class="rise">elevated.</span>
    </div>
  </div>
{% endif %}

</body>
</html>
