<html>
<head>
<link href="style.css" rel="stylesheet">
</head>
<body>

<style>
.st0 {
  fill: red;
}
</style>
<div class="grid">
<div class="col-4">
{% include logo.html color="#636363" %}
</div>
<nav class="col-8">
<ul>
<li><a href="">who we are</a></li>
<li><a href="">what we do</a></li>
<li><a href="">how we work</a></li>
<li><a href="">engage</a></li>
</ul>
</nav>
</div>

{{content}}

{% if page.loadscreen %}
<div id="loadscreen" class="fade-out">
<div class="centerscreen fade-in">
<span>This is education </span><span class="rise">elevated.</span>
</div>
</div>
{% endif %}

</body>
</html>
